*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body {
    color: black;
    font-family: "Questrial", sans-serif;
    background: linear-gradient(45deg, #7B73A3 0%, #7C75A4 7.84%, #9790BA 23.83%, #A096C0 29.22%, #B49EC2 35.95%, #C7A9C5 46.39%, #D6B2CC 54.61%, #D8BBCF 63.72%, #D5BACD 71.97%, #CBC4D1 80.89%, #A7CACC 90.82%);
    background-size: 60px 60px;
    background-position: 0 0;
    animation: slide 4s infinite linear;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -120px 60px;
    }
}

.container {
    margin-top: 300px;
}

h1 {
    text-align: center;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

h4 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.message {
    margin-bottom: 1.6rem;
    margin-top: 0;
}

.btn {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 4px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.btn:last-child {
    margin: 0;
}

.btn:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}